{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="app">
        <div class="container mt-5">
            <h2>Créer un compte</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" style="font-size: 1em;" class="button">S'inscrire</button>
            </form>
            <br>  
            <hr>
            <br>    
            <p> Déjà un compte ? <a href="{% url 'login' %}" class="button">Se connecter</a></p>
        </div>
    </div>
</body>
</html>
