{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Discussion</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="app">
<div id="logout">
    <p> Connecter en tant que {{ user.username }} </p>
    <a href="{% url 'login' %}">Se déconnecter</a>
</div>
<div class="container mt-5">
    <h2>Salon : {{ salon.name }}</h2>
    
    <div id="membre_chat">
        <div id="parti_admin">
            <h3>Admin :</h3>
            <p>{{ salon.admin.username }}</p>
        </div>

        <h3>Membres :</h3>
        {% for person in salon.members.all %}
            <p>{{ person.username }}</p>
             {% if salon.admin == user %}
            <a href="{% url 'exclude_member' salon.id person.id %}"
               style="color:red; margin-left:10px;">
               Exclure
            </a>
        {% endif %}
        {% endfor %}
    </div>

    <div class="bouton_salon">
        <a href="{% url 'salon_list' %}" class="button">Retour à la liste des salons</a>

        {% if salon.admin == user %}
        <form method="POST" action="{% url 'delete_salon' salon.id %}">
            {% csrf_token %}
            <button type="submit" class="button">Supprimer le salon</button>
        </form>
        {% endif %}
    </div>
    

    <div class="chat_box" id="chat_box" data-salon-id="{{ salon.id }}">
        
        <div class="chat-container">
    {% for msg in msgs %}
        <div class="message 
            {% if msg.sender == request.user %}
                my-message
            {% else %}
                other-message
            {% endif %}">
            <div class="message-content">
                {{ msg.content }}
            </div>
            <small class="message-meta">
                {{ msg.sender.username }} • {{ msg.date|date:"H:i" }}
            </small>
        </div>
    {% endfor %}
</div>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="button">Envoyer</button>
    </form>
</div>
</div>
<script src="{% static 'main.js' %}"></script>
</body>
</html>