{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Création de salon</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="app">
    <div id="logout">
        <p> Connecter en tant que {{ user.username }} </p>
        <a href="{% url 'login' %}">Se déconnecter</a>
    </div>
<div class="container mt-5">
    <h2>Créer un salon</h2>
    <a href="{% url 'salon_list' %}" class="button">Retour à la liste des salons</a>
    <br>
    <br>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Nom du salon" required class="form-input">
        <button type="submit" style="font-size: 1em;" class="button">Créer</button>
    </form>
</div>
</div>
</body>
</html>