{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des salons</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="app">
    <div id="logout">
        <p> Connecté en tant que {{ user.username }} </p>
        <a href="{% url 'login' %}">Se déconnecter</a>
    </div>

    <div class="container mt-5">
        <h2>Liste des salons</h2>
        <a href="{% url 'create_salon' %}" class="button">Créer un salon</a>

        <ul>
            {% for salon in salons %}
                <li>
                    <a href="{% url 'salon_messages' salon.id %}">{{ salon.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
</body>
</html>
