{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des salons</title>
    <script src="{% static 'main.js' %}"></script>
    <link href="{% static 'style.css' %}" rel="stylesheet" />
</head>
<body>
<h1>Liste des salons</h1>
<a href="{% url 'create_salon' %}">Créer un salon</a>
<ul>
    {% for salon in salons %}
        <li>
            <a href="{% url 'salon_messages' salon.id %}">
                {{ salon.name }}
            </a>
        </li>
    {% endfor %}
</ul>
</body>
</html>